test/PmtInterpreterTest/PersonDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="PersonDetails">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Age" type="xsd:string"/>
			<xsd:element name="Gender" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
